<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>619656829734-qjj5ajd70fcoulvumen6fft197ms4irv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619656829734-qjj5ajd70fcoulvumen6fft197ms4irv</string>
	<key>API_KEY</key>
	<string>AIzaSyBiwT89a9KRXBGsOnKLsAz_EPST3kv61cA</string>
	<key>GCM_SENDER_ID</key>
	<string>619656829734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khoslaa.Inkwire</string>
	<key>PROJECT_ID</key>
	<string>inkwire-b2bd4</string>
	<key>STORAGE_BUCKET</key>
	<string>inkwire-b2bd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:619656829734:ios:458de366eed079cc</string>
	<key>DATABASE_URL</key>
	<string>https://inkwire-b2bd4.firebaseio.com</string>
</dict>
</plist>